<!DOCTYPE html>
<html>
<head>
    <title>易车签到系统</title>
    <script src="index/js/jquery-3.1.1.js"></script>
    <link href="index/css/bootstrap.css" rel="stylesheet">
</head>
<style>
    body {
        background: url('index/before.jpg') top center repeat;
        background-size: cover;
        font-family: "SimHei";
    }
</style>
<body id="bg">
<div>
    <div>
        <input style="border:0px;background-color:transparent;color: #cccccc" id="staffNum" type="text" name="staffNum">
    </div>
</div>
<br>
<a href="index/show"><button class="btn btn-info">查看数据</button></a>
</body>
<script>
    //获得焦点
    $(document).ready(
            function () {
                $("#staffNum")[0].focus();
            }
    );
    $("#staffNum").change(function () {
        var val = $("#staffNum").val();
        $.post("index/save", {data: val}, function (data, status) {
            $('#bg').css('background-image',"url('index/after.jpg')");
            setTimeout(function(){window.location.reload(true)},2000);
        });
    });
</script>
</html>